<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="card" *ngIf="selectedMovie">
    <div class="card-body">
        <span class="badge badge-warning"> {{ selectedMovie.id }} -) {{ selectedMovie.name }} </span>
        <br/>
        <div class="input-group">
            <input type="text" [(ngModel)]="selectedMovie.name" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{ getTitle() }}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)" class="list-group-item"
        [class.active]="movie===selectedMovie">
            <span class="badge badge-primary"> {{ movie.id }} </span> {{ movie.name }}
            <span class="close">x</span>
        </li>
    </ul>
</div>
